#Working with pandas for data analysis

##data used is gathered from zameen.com and consist of realestate price in pakistan

In [2]:
import pandas as pd 
#to read from a csv file do pd.read_csv('')
#to read from an excel file do pd.read_excel('')

df = pd.read_csv('/content/drive/MyDrive/Property_with_Feature_Engineering.csv')
df.head()
#to create a new dataframe 
new_df = pd.DataFrame(columns = ['one_column'])

,property_id,location_id,page_url,property_type,price,price_bin,location,city,province_name,locality,...,area_marla,area_sqft,purpose,bedrooms,date_added,year,month,day,agency,agent
0,347795,8,https://www.zameen.com/Property/lahore_model_t...,House,220000000,Very High,Model Town,Lahore,Punjab,"Model Town, Lahore, Punjab",...,120.0,32670.12,For Sale,0,07-17-2019,2019,7,17,Real Biz International,Usama Khan
1,482892,48,https://www.zameen.com/Property/lahore_multan_...,House,40000000,Very High,Multan Road,Lahore,Punjab,"Multan Road, Lahore, Punjab",...,20.0,5445.02,For Sale,5,10-06-2018,2018,10,6,Khan Estate,mohsinkhan and B
2,555962,75,https://www.zameen.com/Property/eden_eden_aven...,House,9500000,Low,Eden,Lahore,Punjab,"Eden, Lahore, Punjab",...,9.0,2450.26,For Sale,3,07-03-2019,2019,7,3,Shahum Estate 2,"Babar Hameed, Raja Omar"
3,562843,3821,https://www.zameen.com/Property/gulberg_2_gulb...,House,125000000,Very High,Gulberg,Lahore,Punjab,"Gulberg, Lahore, Punjab",...,20.0,5445.02,For Sale,8,04-04-2019,2019,4,4,NaN,NaN
4,686990,3522,https://www.zameen.com/Property/allama_iqbal_t...,House,21000000,High,Allama Iqbal Town,Lahore,Punjab,"Allama Iqbal Town, Lahore, Punjab",...,11.0,2994.76,For Sale,6,04-04-2019,2019,4,4,NaN,NaN

In [3]:
#read headers
print(df.columns)

Index(['property_id', 'location_id', 'page_url', 'property_type', 'price',
       'price_bin', 'location', 'city', 'province_name', 'locality',
       'latitude', 'longitude', 'baths', 'area', 'area_marla', 'area_sqft',
       'purpose', 'bedrooms', 'date_added', 'year', 'month', 'day', 'agency',
       'agent'],
      dtype='object')

In [4]:
#read a specific column 
print(df['location_id'])

0            8
1           48
2           75
3         3821
4         3522
          ...
191388     174
191389     174
191390     167
191391     339
191392    3421
Name: location_id, Length: 191393, dtype: int64

In [5]:
#read each row
print(df.iloc[1:2])

   property_id  location_id  \
1       482892           48

                                            page_url property_type     price  \
1  https://www.zameen.com/Property/lahore_multan_...         House  40000000

   price_bin     location    city province_name                     locality  \
1  Very High  Multan Road  Lahore        Punjab  Multan Road, Lahore, Punjab

   ...  area_marla  area_sqft   purpose bedrooms  date_added  year month  day  \
1  ...        20.0    5445.02  For Sale        5  10-06-2018  2018    10    6

        agency             agent
1  Khan Estate  mohsinkhan and B

[1 rows x 24 columns]

In [6]:
#read a specific location (rowsxcolumns)
print(df.iloc[2,1])

75

In [7]:
#to find specific results inside a column
#for example
df.loc[df['location_id'] == 8]

,property_id,location_id,page_url,property_type,price,price_bin,location,city,province_name,locality,...,area_marla,area_sqft,purpose,bedrooms,date_added,year,month,day,agency,agent
0,347795,8,https://www.zameen.com/Property/lahore_model_t...,House,220000000,Very High,Model Town,Lahore,Punjab,"Model Town, Lahore, Punjab",...,120.0,32670.12,For Sale,0,07-17-2019,2019,7,17,Real Biz International,Usama Khan
97,4940629,8,https://www.zameen.com/Property/lahore_model_t...,House,8000000,Low,Model Town,Lahore,Punjab,"Model Town, Lahore, Punjab",...,3.0,816.75,For Sale,2,07-03-2019,2019,7,3,NaN,NaN
1218,8067446,8,https://www.zameen.com/Property/lahore_model_t...,House,55000000,Very High,Model Town,Lahore,Punjab,"Model Town, Lahore, Punjab",...,20.0,5445.02,For Sale,0,07-03-2019,2019,7,3,NaN,NaN
2045,8267197,8,https://www.zameen.com/Property/lahore_model_t...,House,125000000,Very High,Model Town,Lahore,Punjab,"Model Town, Lahore, Punjab",...,40.0,10890.04,For Sale,5,07-03-2019,2019,7,3,NaN,NaN
3192,8803462,8,https://www.zameen.com/Property/lahore_model_t...,House,85000000,Very High,Model Town,Lahore,Punjab,"Model Town, Lahore, Punjab",...,40.0,10890.04,For Sale,6,07-03-2019,2019,7,3,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190984,17462525,8,https://www.zameen.com/Property/lahore_model_t...,Upper Portion,80000,Very High,Model Town,Lahore,Punjab,"Model Town, Lahore, Punjab",...,20.0,5445.02,For Rent,3,07-24-2019,2019,7,24,Property Edge,Muhammad Mudasar
191042,17464143,8,https://www.zameen.com/Property/lahore_model_t...,House,170000,High,Model Town,Lahore,Punjab,"Model Town, Lahore, Punjab",...,20.0,5445.02,For Rent,4,07-24-2019,2019,7,24,Chohan Estate DHA,Wajahat Butt
191043,17464184,8,https://www.zameen.com/Property/lahore_model_t...,House,190000,Very High,Model Town,Lahore,Punjab,"Model Town, Lahore, Punjab",...,20.0,5445.02,For Rent,4,07-24-2019,2019,7,24,Chohan Estate DHA,Wajahat Butt
191044,17464211,8,https://www.zameen.com/Property/lahore_model_t...,House,290000,Very High,Model Town,Lahore,Punjab,"Model Town, Lahore, Punjab",...,40.0,10890.04,For Rent,5,07-24-2019,2019,7,24,Chohan Estate DHA,Wajahat Butt
191199,17467662,8,https://www.zameen.com/Property/lahore_model_t...,Upper Portion,60000,High,Model Town,Lahore,Punjab,"Model Town, Lahore, Punjab",...,20.0,5445.02,For Rent,3,07-24-2019,2019,7,24,Property Edge,Muhammad Asif

In [8]:
#sorting/describing data
df.describe()

,property_id,location_id,price,latitude,longitude,baths,area_marla,area_sqft,bedrooms,year,month,day
count,1.913930e+05,191393.000000,1.913930e+05,191393.000000,191393.000000,191393.000000,191393.000000,1.913930e+05,191393.000000,191393.000000,191393.000000,191393.000000
mean,1.573170e+07,4224.580350,1.644655e+07,30.104593,71.572992,2.865956,14.573527,3.967656e+03,3.171516,2018.935687,6.212270,13.349631
std,2.215249e+06,3719.125201,3.416412e+07,3.645941,3.080463,2.435332,443.343252,1.207006e+05,1.952403,0.245310,1.815174,8.486820
min,8.657500e+04,1.000000,0.000000e+00,11.052446,25.906027,0.000000,0.000000,0.000000e+00,0.000000,2018.000000,1.000000,1.000000
25%,1.511867e+07,1057.000000,8.000000e+04,24.972287,67.152597,0.000000,4.900000,1.334030e+03,2.000000,2019.000000,6.000000,5.000000
50%,1.676385e+07,3233.000000,7.300000e+06,31.463563,73.077743,3.000000,7.600000,2.069110e+03,3.000000,2019.000000,7.000000,14.000000
75%,1.715282e+07,7182.000000,1.800000e+07,33.550869,74.228218,4.000000,12.000000,3.267010e+03,4.000000,2019.000000,7.000000,20.000000
max,1.769386e+07,14246.000000,2.000000e+09,73.184088,80.161430,403.000000,124444.000000,3.388000e+07,68.000000,2019.000000,12.000000,30.000000

In [10]:
#sorting location_id by decending order:
df.sort_values(['location_id'], ascending=False)

,property_id,location_id,page_url,property_type,price,price_bin,location,city,province_name,locality,...,area_marla,area_sqft,purpose,bedrooms,date_added,year,month,day,agency,agent
182983,17395040,14246,https://www.zameen.com/Property/lahore_sheikhu...,House,7500000,Low,Lahore - Sheikhupura - Faisalabad Road,Faisalabad,Punjab,"Lahore - Sheikhupura - Faisalabad Road, Faisal...",...,5.0,1361.25,For Sale,0,07-22-2019,2019,7,22,Khalid Estate Agency,Khalid mehmood
182988,17395066,14246,https://www.zameen.com/Property/lahore_sheikhu...,House,6500000,Low,Lahore - Sheikhupura - Faisalabad Road,Faisalabad,Punjab,"Lahore - Sheikhupura - Faisalabad Road, Faisal...",...,4.0,1089.00,For Sale,0,07-22-2019,2019,7,22,Khalid Estate Agency,Khalid mehmood
189614,17446840,14231,https://www.zameen.com/Property/lahore_abid_ro...,Lower Portion,18000,Low,Abid Road,Lahore,Punjab,"Abid Road, Lahore, Punjab",...,5.0,1361.25,For Rent,1,07-23-2019,2019,7,23,Baghdad Associates,Alena
175413,17338444,14220,https://www.zameen.com/Property/scheme_33_stat...,Flat,6500000,Medium,Scheme 33,Karachi,Sindh,"Scheme 33, Karachi, Sindh",...,48.0,13068.05,For Sale,0,07-17-2019,2019,7,17,Chocolate Real Properties,Arshad HussainAshraf Hussain
175404,17338284,14220,https://www.zameen.com/Property/scheme_33_stat...,Flat,4000000,Low,Scheme 33,Karachi,Sindh,"Scheme 33, Karachi, Sindh",...,3.6,980.10,For Sale,2,07-17-2019,2019,7,17,Chocolate Real Properties,Arshad Hussain Ashraf Hussain
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29413,13852742,4,https://www.zameen.com/Property/lahore_garden_...,House,100000000,Very High,Garden Town,Lahore,Punjab,"Garden Town, Lahore, Punjab",...,26.0,7078.53,For Sale,10,06-02-2019,2019,6,2,Ghazali Real Estate,Noor ahmad
55012,15508073,3,https://www.zameen.com/Property/islamabad_capi...,Flat,4300000,Low,"Islamabad, Islamabad Capital",Islamabad,Islamabad Capital,"Islamabad, Islamabad Capital, Islamabad, Islam...",...,1.7,462.83,For Sale,1,04-05-2019,2019,4,5,Peshawar Property Point,Siraj Ud Din
59520,15669851,2,https://www.zameen.com/Property/sindh_karachi_...,House,12000000,Medium,"Karachi, Sindh",Karachi,Sindh,"Karachi, Sindh, Karachi, Sindh",...,4.8,1306.80,For Sale,4,04-06-2019,2019,4,6,NaN,NaN
94458,16748132,1,https://www.zameen.com/Property/punjab_lahore_...,House,11000000,Medium,"Lahore, Punjab",Lahore,Punjab,"Lahore, Punjab, Lahore, Punjab",...,5.0,1361.25,For Sale,3,06-20-2019,2019,6,20,NaN,NaN
48674,15180638,1,https://www.zameen.com/Property/punjab_lahore_...,House,19500000,High,"Lahore, Punjab",Lahore,Punjab,"Lahore, Punjab, Lahore, Punjab",...,10.0,2722.51,For Sale,4,03-06-2019,2019,3,6,NaN,NaN

In [13]:
#let's make some changes to the data
#creating a new column
df['Total'] = df['location_id']
df.head()

,property_id,location_id,page_url,property_type,price,price_bin,location,city,province_name,locality,...,area_sqft,purpose,bedrooms,date_added,year,month,day,agency,agent,Total
0,347795,8,https://www.zameen.com/Property/lahore_model_t...,House,220000000,Very High,Model Town,Lahore,Punjab,"Model Town, Lahore, Punjab",...,32670.12,For Sale,0,07-17-2019,2019,7,17,Real Biz International,Usama Khan,8
1,482892,48,https://www.zameen.com/Property/lahore_multan_...,House,40000000,Very High,Multan Road,Lahore,Punjab,"Multan Road, Lahore, Punjab",...,5445.02,For Sale,5,10-06-2018,2018,10,6,Khan Estate,mohsinkhan and B,48
2,555962,75,https://www.zameen.com/Property/eden_eden_aven...,House,9500000,Low,Eden,Lahore,Punjab,"Eden, Lahore, Punjab",...,2450.26,For Sale,3,07-03-2019,2019,7,3,Shahum Estate 2,"Babar Hameed, Raja Omar",75
3,562843,3821,https://www.zameen.com/Property/gulberg_2_gulb...,House,125000000,Very High,Gulberg,Lahore,Punjab,"Gulberg, Lahore, Punjab",...,5445.02,For Sale,8,04-04-2019,2019,4,4,NaN,NaN,3821
4,686990,3522,https://www.zameen.com/Property/allama_iqbal_t...,House,21000000,High,Allama Iqbal Town,Lahore,Punjab,"Allama Iqbal Town, Lahore, Punjab",...,2994.76,For Sale,6,04-04-2019,2019,4,4,NaN,NaN,3522

In [16]:
#to drop a column
df = df.drop(columns=['Total'])

df.head()

,property_id,location_id,page_url,property_type,price,price_bin,location,city,province_name,locality,...,area_marla,area_sqft,purpose,bedrooms,date_added,year,month,day,agency,agent
0,347795,8,https://www.zameen.com/Property/lahore_model_t...,House,220000000,Very High,Model Town,Lahore,Punjab,"Model Town, Lahore, Punjab",...,120.0,32670.12,For Sale,0,07-17-2019,2019,7,17,Real Biz International,Usama Khan
1,482892,48,https://www.zameen.com/Property/lahore_multan_...,House,40000000,Very High,Multan Road,Lahore,Punjab,"Multan Road, Lahore, Punjab",...,20.0,5445.02,For Sale,5,10-06-2018,2018,10,6,Khan Estate,mohsinkhan and B
2,555962,75,https://www.zameen.com/Property/eden_eden_aven...,House,9500000,Low,Eden,Lahore,Punjab,"Eden, Lahore, Punjab",...,9.0,2450.26,For Sale,3,07-03-2019,2019,7,3,Shahum Estate 2,"Babar Hameed, Raja Omar"
3,562843,3821,https://www.zameen.com/Property/gulberg_2_gulb...,House,125000000,Very High,Gulberg,Lahore,Punjab,"Gulberg, Lahore, Punjab",...,20.0,5445.02,For Sale,8,04-04-2019,2019,4,4,NaN,NaN
4,686990,3522,https://www.zameen.com/Property/allama_iqbal_t...,House,21000000,High,Allama Iqbal Town,Lahore,Punjab,"Allama Iqbal Town, Lahore, Punjab",...,11.0,2994.76,For Sale,6,04-04-2019,2019,4,4,NaN,NaN

In [20]:
df = df.drop(columns = ['agency'])

In [22]:
#droped agency and agent columns 
df.head()

,property_id,location_id,page_url,property_type,price,price_bin,location,city,province_name,locality,...,baths,area,area_marla,area_sqft,purpose,bedrooms,date_added,year,month,day
0,347795,8,https://www.zameen.com/Property/lahore_model_t...,House,220000000,Very High,Model Town,Lahore,Punjab,"Model Town, Lahore, Punjab",...,0,6 Kanal,120.0,32670.12,For Sale,0,07-17-2019,2019,7,17
1,482892,48,https://www.zameen.com/Property/lahore_multan_...,House,40000000,Very High,Multan Road,Lahore,Punjab,"Multan Road, Lahore, Punjab",...,5,1 Kanal,20.0,5445.02,For Sale,5,10-06-2018,2018,10,6
2,555962,75,https://www.zameen.com/Property/eden_eden_aven...,House,9500000,Low,Eden,Lahore,Punjab,"Eden, Lahore, Punjab",...,0,9 Marla,9.0,2450.26,For Sale,3,07-03-2019,2019,7,3
3,562843,3821,https://www.zameen.com/Property/gulberg_2_gulb...,House,125000000,Very High,Gulberg,Lahore,Punjab,"Gulberg, Lahore, Punjab",...,7,1 Kanal,20.0,5445.02,For Sale,8,04-04-2019,2019,4,4
4,686990,3522,https://www.zameen.com/Property/allama_iqbal_t...,House,21000000,High,Allama Iqbal Town,Lahore,Punjab,"Allama Iqbal Town, Lahore, Punjab",...,5,11 Marla,11.0,2994.76,For Sale,6,04-04-2019,2019,4,4

In [23]:
#to save it inside a csv file
#df.to_csv('nameofdata.csv')

In [24]:
#using operators to filter data
df.loc[(df['location_id'] == 8) & (df['baths']== 5)]

,property_id,location_id,page_url,property_type,price,price_bin,location,city,province_name,locality,...,baths,area,area_marla,area_sqft,purpose,bedrooms,date_added,year,month,day
12179,11489683,8,https://www.zameen.com/Property/lahore_model_t...,House,23000000,High,Model Town,Lahore,Punjab,"Model Town, Lahore, Punjab",...,5,10 Marla,10.0,2722.51,For Sale,4,08-07-2018,2018,8,7
20920,12767148,8,https://www.zameen.com/Property/lahore_model_t...,House,34000000,Very High,Model Town,Lahore,Punjab,"Model Town, Lahore, Punjab",...,5,1 Kanal,20.0,5445.02,For Sale,4,06-11-2019,2019,6,11
28471,13776122,8,https://www.zameen.com/Property/lahore_model_t...,House,65500000,Very High,Model Town,Lahore,Punjab,"Model Town, Lahore, Punjab",...,5,1 Kanal,20.0,5445.02,For Sale,5,01-04-2019,2019,1,4
37347,14452502,8,https://www.zameen.com/Property/lahore_model_t...,House,200000,Very High,Model Town,Lahore,Punjab,"Model Town, Lahore, Punjab",...,5,1.5 Kanal,30.0,8167.53,For Rent,5,04-25-2019,2019,4,25
38732,14575826,8,https://www.zameen.com/Property/lahore_model_t...,House,47500000,Very High,Model Town,Lahore,Punjab,"Model Town, Lahore, Punjab",...,5,1 Kanal,20.0,5445.02,For Sale,5,05-18-2019,2019,5,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
178890,17351799,8,https://www.zameen.com/Property/lahore_model_t...,House,80000000,Very High,Model Town,Lahore,Punjab,"Model Town, Lahore, Punjab",...,5,1 Kanal,20.0,5445.02,For Sale,5,07-19-2019,2019,7,19
187607,17431614,8,https://www.zameen.com/Property/lahore_model_t...,House,400000,Very High,Model Town,Lahore,Punjab,"Model Town, Lahore, Punjab",...,5,3 Kanal,60.0,16335.06,For Rent,4,07-23-2019,2019,7,23
188268,17442651,8,https://www.zameen.com/Property/lahore_model_t...,House,18000000,High,Model Town,Lahore,Punjab,"Model Town, Lahore, Punjab",...,5,10 Marla,10.0,2722.51,For Sale,4,07-23-2019,2019,7,23
191042,17464143,8,https://www.zameen.com/Property/lahore_model_t...,House,170000,High,Model Town,Lahore,Punjab,"Model Town, Lahore, Punjab",...,5,1 Kanal,20.0,5445.02,For Rent,4,07-24-2019,2019,7,24
191043,17464184,8,https://www.zameen.com/Property/lahore_model_t...,House,190000,Very High,Model Town,Lahore,Punjab,"Model Town, Lahore, Punjab",...,5,1 Kanal,20.0,5445.02,For Rent,4,07-24-2019,2019,7,24

In [27]:
# pandas & operator 
# pandas | operator(or)

df.loc[(df['location_id'] == 8) | (df['location_id'] == 9) | (df['location_id'] < 2)]

,property_id,location_id,page_url,property_type,price,price_bin,location,city,province_name,locality,...,baths,area,area_marla,area_sqft,purpose,bedrooms,date_added,year,month,day
0,347795,8,https://www.zameen.com/Property/lahore_model_t...,House,220000000,Very High,Model Town,Lahore,Punjab,"Model Town, Lahore, Punjab",...,0,6 Kanal,120.0,32670.12,For Sale,0,07-17-2019,2019,7,17
97,4940629,8,https://www.zameen.com/Property/lahore_model_t...,House,8000000,Low,Model Town,Lahore,Punjab,"Model Town, Lahore, Punjab",...,3,3 Marla,3.0,816.75,For Sale,2,07-03-2019,2019,7,3
658,411001,9,https://www.zameen.com/Property/lahore_dha_def...,House,95000,High,DHA Defence,Lahore,Punjab,"DHA Defence, Lahore, Punjab",...,5,1 Kanal,20.0,5445.02,For Rent,5,07-24-2019,2019,7,24
659,411006,9,https://www.zameen.com/Property/lahore_dha_def...,House,90000,High,DHA Defence,Lahore,Punjab,"DHA Defence, Lahore, Punjab",...,5,1 Kanal,20.0,5445.02,For Rent,5,07-24-2019,2019,7,24
660,411012,9,https://www.zameen.com/Property/lahore_dha_def...,House,175000,High,DHA Defence,Lahore,Punjab,"DHA Defence, Lahore, Punjab",...,6,2 Kanal,40.0,10890.04,For Rent,6,07-24-2019,2019,7,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190984,17462525,8,https://www.zameen.com/Property/lahore_model_t...,Upper Portion,80000,Very High,Model Town,Lahore,Punjab,"Model Town, Lahore, Punjab",...,3,1 Kanal,20.0,5445.02,For Rent,3,07-24-2019,2019,7,24
191042,17464143,8,https://www.zameen.com/Property/lahore_model_t...,House,170000,High,Model Town,Lahore,Punjab,"Model Town, Lahore, Punjab",...,5,1 Kanal,20.0,5445.02,For Rent,4,07-24-2019,2019,7,24
191043,17464184,8,https://www.zameen.com/Property/lahore_model_t...,House,190000,Very High,Model Town,Lahore,Punjab,"Model Town, Lahore, Punjab",...,5,1 Kanal,20.0,5445.02,For Rent,4,07-24-2019,2019,7,24
191044,17464211,8,https://www.zameen.com/Property/lahore_model_t...,House,290000,Very High,Model Town,Lahore,Punjab,"Model Town, Lahore, Punjab",...,6,2 Kanal,40.0,10890.04,For Rent,5,07-24-2019,2019,7,24
191199,17467662,8,https://www.zameen.com/Property/lahore_model_t...,Upper Portion,60000,High,Model Town,Lahore,Punjab,"Model Town, Lahore, Punjab",...,3,1 Kanal,20.0,5445.02,For Rent,3,07-24-2019,2019,7,24

In [34]:
#using conditional if statements
df2 = df.loc[df['location_id'] <=9 ,'new_column with id location less than 9'] = 'True'
df2

'True'

In [33]:
df3 = df['equal_or_lower_than_4?'] = df['location_id'].apply(lambda x: 'True' if x <= 8 else 'False')
df3

0          True
1         False
2         False
3         False
4         False
          ...
191388    False
191389    False
191390    False
191391    False
191392    False
Name: location_id, Length: 191393, dtype: object

##IF condition – strings

Now, let’s create a DataFrame that contains only strings/text with 2 cities names lahore and islamabad

In [36]:
df.loc[df['city'] == 'Lahore', 'name_match'] = 'Match'  
df.loc[df['city'] != 'Lahore', 'name_match'] = 'Mismatch' 
df

,property_id,location_id,page_url,property_type,price,price_bin,location,city,province_name,locality,...,area_sqft,purpose,bedrooms,date_added,year,month,day,new_column with id location less than 9,equal_or_lower_than_4?,name_match
0,347795,8,https://www.zameen.com/Property/lahore_model_t...,House,220000000,Very High,Model Town,Lahore,Punjab,"Model Town, Lahore, Punjab",...,32670.12,For Sale,0,07-17-2019,2019,7,17,True,True,Match
1,482892,48,https://www.zameen.com/Property/lahore_multan_...,House,40000000,Very High,Multan Road,Lahore,Punjab,"Multan Road, Lahore, Punjab",...,5445.02,For Sale,5,10-06-2018,2018,10,6,NaN,False,Match
2,555962,75,https://www.zameen.com/Property/eden_eden_aven...,House,9500000,Low,Eden,Lahore,Punjab,"Eden, Lahore, Punjab",...,2450.26,For Sale,3,07-03-2019,2019,7,3,NaN,False,Match
3,562843,3821,https://www.zameen.com/Property/gulberg_2_gulb...,House,125000000,Very High,Gulberg,Lahore,Punjab,"Gulberg, Lahore, Punjab",...,5445.02,For Sale,8,04-04-2019,2019,4,4,NaN,False,Match
4,686990,3522,https://www.zameen.com/Property/allama_iqbal_t...,House,21000000,High,Allama Iqbal Town,Lahore,Punjab,"Allama Iqbal Town, Lahore, Punjab",...,2994.76,For Sale,6,04-04-2019,2019,4,4,NaN,False,Match
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191388,17468383,174,https://www.zameen.com/Property/islamabad_i_8_...,Upper Portion,70000,Very High,I-8,Islamabad,Islamabad Capital,"I-8, Islamabad, Islamabad Capital",...,3375.91,For Rent,3,07-24-2019,2019,7,24,NaN,False,Mismatch
191389,17468384,174,https://www.zameen.com/Property/islamabad_i_8_...,Upper Portion,40000,Medium,I-8,Islamabad,Islamabad Capital,"I-8, Islamabad, Islamabad Capital",...,3375.91,For Rent,2,07-24-2019,2019,7,24,NaN,False,Mismatch
191390,17468482,167,https://www.zameen.com/Property/islamabad_g_10...,House,160000,High,G-10,Islamabad,Islamabad Capital,"G-10, Islamabad, Islamabad Capital",...,5445.02,For Rent,6,07-24-2019,2019,7,24,NaN,False,Mismatch
191391,17468586,339,https://www.zameen.com/Property/dha_defence_dh...,Flat,25000,Low,DHA Defence,Islamabad,Islamabad Capital,"DHA Defence, Islamabad, Islamabad Capital",...,735.08,For Rent,2,07-24-2019,2019,7,24,NaN,False,Mismatch
191392,17468660,3421,https://www.zameen.com/Property/i_10_i_10_2_i_...,Upper Portion,26000,Low,I-10,Islamabad,Islamabad Capital,"I-10, Islamabad, Islamabad Capital",...,0.00,For Rent,3,07-24-2019,2019,7,24,NaN,False,Mismatch

In [37]:
#seeing the max and min values
df['price'].max()

2000000000

In [38]:
#for the min price 
df['price'].min()

0

In [39]:
df.loc[df['price'] == 0]

,property_id,location_id,page_url,property_type,price,price_bin,location,city,province_name,locality,...,area_sqft,purpose,bedrooms,date_added,year,month,day,new_column with id location less than 9,equal_or_lower_than_4?,name_match
70880,16081186,8129,https://www.zameen.com/Property/rawalpindi_ran...,House,0,Low,Range Road,Rawalpindi,Punjab,"Range Road, Rawalpindi, Punjab",...,1361.25,For Rent,0,05-06-2019,2019,5,6,NaN,False,Mismatch
97464,16786134,12395,https://www.zameen.com/Property/karachi_gadap_...,Farm House,0,Low,Gadap Road,Karachi,Sindh,"Gadap Road, Karachi, Sindh",...,43560.16,For Sale,0,06-21-2019,2019,6,21,NaN,False,Mismatch
140353,17122202,1058,https://www.zameen.com/Property/rawalpindi_gul...,House,0,Low,Gulshan Abad,Rawalpindi,Punjab,"Gulshan Abad, Rawalpindi, Punjab",...,2722.51,For Sale,0,07-05-2019,2019,7,5,NaN,False,Mismatch

In [40]:
#dropping all the rows with price == 0 
df.drop(df[df['price'] == 0].index, inplace = True)

In [41]:
df.loc[df['price'] == 0]

Empty DataFrame
Columns: [property_id, location_id, page_url, property_type, price, price_bin, location, city, province_name, locality, latitude, longitude, baths, area, area_marla, area_sqft, purpose, bedrooms, date_added, year, month, day, new_column with id location less than 9, equal_or_lower_than_4?, name_match]
Index: []

[0 rows x 25 columns]

In [ ]:
#working with large amount of datasets
#you can read a file in batches 
df = pd.read_csv('nameoffile.csv', chunksize = 5) #means 5 rows are being passed one at a time